.drawer__wrapper{
    -fx-background-color:  linear-gradient(to top,#ed2931 0,#f95a3e);
    -fx-padding: 16;
}

.drawer__title{
    -fx-text-fill: #fff;
    -fx-font-family: "Circular Std Medium";
    -fx-font-size: 18;
}


/* BUTTONS */
.drawer__button{
    -fx-font-family: "Circular Std Bold";
    -fx-border-color: white;
    -fx-background-color: none;
    -fx-border-radius: 100%;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 500px 500px 500px 500px;
    -fx-font-size: 16px;
    -fx-padding: 12px 56px 12px;
}

.drawer__button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.drawer__button:pressed{
    -fx-background-color: #d9dadc;
    -fx-border-color: #d9dadc;
    -fx-text-fill: black;
}

.drawer__button--exit{
    -fx-background-color: transparent;
}
.drawer__button--exit:hover{
    -fx-scale-x: 107%;
    -fx-scale-y: 107%;
}

.drawer__button--exit:pressed{
    -fx-scale-x: 100%;
    -fx-scale-y: 100%;
    -fx-opacity: 0.8;
}