.minimapOuterWrapper{
    -fx-border-color:  rgba(255,255,255,0.2);
    -fx-border-radius: 5px;
    -fx-background-color: linear-gradient(to top,  rgba(0,229, 255, 0.1),  rgba(0,229, 255, 0.05));
    -fx-background-radius: 5px;

}

