.guideOuterwrapper{
    -fx-background-color: rgba(0,0,0,.49);
}

.guide__closeButton{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.guide__closeButton:hover{
    -fx-scale-x: 107%;
    -fx-scale-y: 107%;
}

.guide__closeButton:pressed{
    -fx-scale-x: 100%;
    -fx-scale-y: 100%;
    -fx-opacity: 0.8;
}


.controlsH1{
    -fx-font-family: "Circular Std Black";
    -fx-font-size: 60;
    -fx-text-fill: white;
}